<script setup lang="ts">
import { RouterView } from 'vue-router';
import router from './router';

// import HomeView from './views/HomeView.vue';
</script>

<template>
  <main>
    <!-- <HomeView /> -->
    <RouterView />
  </main>
</template>
